.banner {
  height: 500px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%),
    url("../images/banner.jpg");
  background-size: cover;
  color: white;
}

.banner_Title {
  max-width: 790px;
  font-size: 60px;
  color: white;
  line-height: 100%;
  padding: 255px 0 20px 0;
}

.description_Banner_Title {
  max-width: 560px;
  font-size: 24px;
}

@media (max-width: 650px) {
  .banner_Title {
    font-size: 40px;
    padding: 255px 0 20px 0;
  }
}
