.section_Reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
}

.reviews_Title {
  font-size: 40px;
  margin-bottom: 60px;
  color: #151618;
  text-align: center;
}

.reviews_List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 26px;
}

.reviews_Item {
  flex: 1 0 100%;
  max-width: 280px;
}

.reviews_Text {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  color: #151618;
  margin-bottom: 10px;
  line-height: 1.5;
}

.reviews_Name {
  font-weight: 600;
  font-size: 20px;
  color: #151618;
}

@media (max-width: 1200px) {
  .reviews_Item:last-child {
    display: none;
  }
  .reviews_List {
    margin: 0 30px;
  }
}

@media (max-width: 990px) {
  .reviews_Item:last-child {
    display: block;
  }
}

@media (max-width: 670px) {
  .reviews_List {
    gap: 20px;
    margin: 0;
  }

  .reviews_Item {
    max-width: 220px;
  }
}
@media (max-width: 480px) {
  .reviews_List {
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .reviews_Item {
    max-width: 100%;
  }
  .reviews_Item:nth-child(n + 3) {
    display: none;
  }
}
